body { background: rgb(240,240,240); font-family: 'Montserrat'; font-weight: 100;}
h1 { text-align: center; font-size: 3em; font-family: 'Poppins'; font-weight: 100; }
h2 { text-align: center; font-size: 1.5em; font-family: 'Poppins'; font-weight: 700; }
.container { position: relative; margin: auto; max-width: 1000px; text-align: center; } 
.cocoen { clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px)); }

